@charset "UTF-8";

/*  ----------------------------------------------------------------------------------------------------- */

body{margin:0px; height:100%; overflow-x:hidden; overflow-y:auto; background-color:#f5f7f8; font-family: 'RobotoRegular', "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal;color:#404C51}

/*
-------------------------------Elements Related-------------------------------*/

.custom-unordered-list{
	padding: 0;
    list-style-type: none;
}